//
// Flags
// --------------------------

{{#items}}{{#name}}
.@{flag-css-prefix}-{{name}} { background-position: {{offset_x}}{{#offset_x}}px{{/offset_x}} {{offset_y}}{{#offset_y}}px{{/offset_y}}; }
{{/name}}{{/items}}
